In [1]:
import pandas as pd

In [5]:
file=pd.read_csv('submission.csv')
file.head(13)

       ID subscribed
0   38441         no
1   40403         no
2    3709         no
3   37422         no
4   12527         no
5   16013         no
6     196         no
7    8516         no
8   31208         no
9   38462         no
10  17041         no
11   4920         no
12    802         no